<% if (errors.length > 0) { %>
<ul class="errors__list">
  <% errors.forEach(error => { %>
  <li class="errors__error">
    <label for="<%= error.param %> "><%= error.msg %></label>
  </li>
  <% }) %>
</ul>
<% } %> field<%= locals.isInvalid('name', errors) ? ' field--invalid' : '' %>
field<%= locals.isInvalid('name', errors) ? ' field--invalid' : '' %> field<%=
locals.isInvalid('name', errors) ? ' field--invalid' : '' %>
