<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Undirskriftalisti</title>
  </head>
  <body>
    <header>
      <div class="grid">
        <div class="row">
          <div class="col col-12">
            <h1 class="title">Undirskriftalisti</h1>
          </div>
        </div>
      </div>
    </header>
    <div class="grid">
    <section class="top">
      <form class="form" action="/" method="post">
          <div class="row name">
            <div class="col col-2 ">
              <label for="name" class="name__side">Nafn*</label>
            </div>
            <div class="col col-10">
              <input class="name__input" type="text" name="name" id="name" value="<%= name %>"/>
            </div>
          </div>
            <div class="row ssn">
              <div class="col col-2">
                <label for="ssn" class="ssn__side">Kennitala*</label>
              </div>
              <div class="col col-10">
                <input placeholder="000000-0000" class="ssn__input" type="text" name="ssn" id="ssn" value="<%= ssn %>"/>
              </div>
          </div>
          <div class="row comments">
            <div class="col col-2">
              <label for="comment" class="comments__side">Athugasemd:</label>
            </div>
            <div class="col col-10">
              <textarea name="comment" id="comment" cols="30" rows="10" value="<%= comment %>"></textarea>
            </div>
        </div>
        <div class="row checkbox">
          <div class="checkbox-container">
            <input class="checkbox" type="checkbox" name="anonymous" id="anonymous" />
            <label for="anonymous">Ekki birta nafn á lista</label>
          </div>
        </div>
        <div class="row errors">
          <div class="col col-12">
            <% if (errors.length > 0) { %>
              <h2>Villa við skráningu</h2>
              <ul class="errors__list">
                <% errors.forEach((error) => { %>
                  <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
                <% }); %>
              </ul>
            <% } %>
          </div>
        </div>
        <div class="row button">
          <div class="col col-12">
            <div class="button-container">
              <button type="submit" class="submit">Skrifa undir</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  <hr>
    <section>
      <div class="grid">
        <div class="row">
          <div class="col col-12">
            <header><h2>Undirskriftir</h2></header>
            <table>
              <tbody>
                <tr>
                  <th scope="col"><strong>Dags</strong></th>
                  <th scope="col"><strong>Nafn</strong></th>
                  <th scope="col"><strong>Athugasemd</strong></th>
                </tr>
                <tr>
                  <td>05.02.2021</td>
                  <td>Bjarni</td>
                  <td>Hvað er um að vera?</td>
                </tr>
                  <% list.forEach((row) => { %>
                    <tr>
                      <td><%= formatDate(row.signed) %> </td>
                      <td><%= row.name %> </td>
                      <td><%= row.comment %> </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </section>
  </body>
</html>
